/* VALOR DE RESPALDO:
Funciona cuando no anda la variable (error de tipeo, por ejemplo:
se escribe::after
background: var(--variable, black)
black sería el valor de respaldo


PRIORIDAD EN LOS ESTILOS

/*  Prioridad al más específico::

Selectores de tipo
Coinciden con el nombre del elemento
Ej: h1{} ; input{}, se aplicará a cualquier elemento  <input>

Selectores de clase
Contienen el atributo de class 
Ej: .index {} selecciona ls que tengan la clase  "index"

Selectores de ID
#unique {}

Selectores de atributo
a[title] {}


El orden de los estilos:

A) en clases: la último asignada.

Selector de tipo vs de clase

B) a{  }   vs  .nombre-clase
la clase es + importante que el tipo...
o sea, prioriza   .nombre-clase
tipo(generico) clase(específica)

C) id >>  clase
#  >>  .clase

D) estilo en linea >> id y clase

E) agregando !important tiene maxima prioridad

.texto-azul {
  color: blue !important
}

De mayor a menor importancia:
html(en linea) >> !important >> id  >>  clase >>  tipo  (li >> ul)
id=" ";  class=" "; a -  tr --ul etc
#identif;   .clase;    tr;
*/


*{
    margin: 2px;
}

body {
    font-family: sans-serif;
    background-color: #e4e3e3;
    padding: 0;
    margin: 1;
    font-size: 18px;
}

header {
    text-align: center;
}

#matriculas{

    padding: 10px 0px 25px 25px;
    margin-bottom:30px;
}


h1 {
    background-color: rgb(63, 63, 63);
    margin: 10;
    padding: 10px;
    text-align: center;
    color: #fbfbfd;
    font-size: larger;
    margin-bottom: 5px;
}

h2 {
    margin: 0px;
    padding: 8px;
    color: #061e94;
    font-size:large ;
}

h3 {
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #051774;
    font-size:18px
}

hr {
    width: 90%;
    height: 2px;
    background-color: gray;
    margin: 10px auto;
    margin-top: 10px;
  }

.noticia{
    padding: 10px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #464545;
}


li.barra {
    float: left;
}

li.barra a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

li.barra a:hover:not(.active) {
    background-color: #f80202;
}

li.barra a:hover:(.active) {
    background-color: #04AA6D;
}

ul.desorder{
    list-style-type: square;
    margin: 5;
    padding: 5;
    overflow: hidden;
    background-color: #e4e3e3;
}

li.lisdesor1{
    list-style-type: square;
}

.active {
    background-color: #04AA6D;
}

.noticia{
    margin-bottom: 10px;
}
#listacolores{
    background-color: #e4e3e3;
}
#listacolores li{
    display:inline-flex;
    padding:8px;
    font-size: 15px;
    color:white;
}
#ingresositio {
    color: white !important;
    text-align: center;
    background-color: rgba(71, 134, 71, 0.353);
    text-decoration: none;
}

div.gallery {
    margin: 1px;
    border: 0px solid #ccc;
    float: left;
    width: 25vw;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 15px;
    text-align: center;
}

.centrado {
    display: flex;
    justify-content: center;
}

.bordes-redondeados{
    border-radius:50%;
}

/*
Border-collapse se utiliza para fusionar los bordes. 
La representación de los bordes de tabla es dividida en dos categorías en CSS2 - "fusión" y "separación" (collapsed - separated).

En el modelo de fusión, las celdas adyacentes comparten los mismos bordes

En el modelo de separación, cada celda adyacente tiene su propio borde
La distancia entre cada borde es dado con la propiedad del espaciado de borde.

Valor inicial: separado

Sintaxis
border-collapse: value
Valores
inherit : Define explícitamente el valor como heredada del elemento padre.
separate : Utiliza el modo de presentación de separación de borde.
collapse : Utiliza el modo de presentación de fusión de borde

<table border="1" style="border-collapse: collapse" bordercolor="#111111" width="500">
<table border="1" style="border-collapse: separate" bordercolor="#111111" width="500">
table{
    border-collapse
}
*/

table{
    border-collapse: collapse;
    border: 3px solid black;
    letter-spacing: 0px;
    font-size: 0.9rem;
    margin: 0 auto;
}

td,
th{
    border-collapse: collapse;
    border: 1px dotted rgb(71, 69, 69);
    padding: 8px 5px;
    text-align: center;
}

th{
    background-color: #c2cff8c9;
}


.tabtor tr:nth-of-type(odd){
    background-color: #c7c5c5;
}

}
#mat{
    text-align:right;
}

a{
    text-decoration: none;
  }

.frase {
    font: size medium;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;

}  
.footer {
    background-color: #333;
    color: #FFF;
    padding: 10px;
    text-align: center;
    clear: both;
}

.bn{
    text-align: center;
    font-size: x-large;
    font-style: initial;
    font-weight:bolder;
    background-color: #f80202;
}

.slider{
    aspect-ratio: 16 / 10;
    width: 400px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 1px;
    scroll-snap-align: center;
}

.slider a{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}


.submenu{
    width:78px;
    text-align: center;
    font-size:13px;
    color:white;
    text-decoration: none;
    margin: 3px;
    padding: 8px 10px;
    line-height: 20px;
    background:rgb(114, 130, 95);
    display:inline-block;
    box-shadow:2px 5px 0px #000;
    border-radius: 10%;
}

a.submenu:link{
    color:whitesmoke;
}

a.submenu:hover{
    text-decoration: underline;
    background: black;
    color: white;
    box-shadow:2px 6px 0px #000;
}

a.submenu:active{
    background: #ff8000;
}

.view{
    background-color: #e4e3e3;
}